<%= form_with model: @pay_method, local: true do |f| %>
    <% if @pay_method.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@pay_method.errors.count, "error") %> prohibited
                this article from being saved:
            </h2>
            <ul>
                <% @pay_method.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :payment_type %><br>
        <%= f.select :payment_type, options_for_select(['Visa', 'MasterCard', 'American Express', 'Bank']), :required => true, :include_blank => "Select Payment Type" %>  
        <br>
    </p>

    <p>
       <%= f.label :account_number %><br>
       <%= f.text_field :account_number %><br>
    </p>
    <p>
        <%= f.label :expiration_date %><br>
        <%= f.date_select :expiration_date,  { :discard_day => true} %>
        <br>
    </p>
    <div class="actions"><%= f.submit "Add Payment" %></div>

<% end %>