<%= form_with(model: @product, local: true) do |form| %>
    
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>
      <%= form.label :product_name %><br>
      <%= form.text_field :product_name %>
    </p>
     <p>
      <%= form.label :product_price %><br>
      <%= form.text_field :product_price %>
    </p>
    <p>
      <%= form.label :product_desc %><br>
      <%= form.text_field :product_desc %>
    </p>
    <p>
      <%= form.label :quantity %><br>
      <%= form.text_field :quantity %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
    
<% end %>