<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Local Delivery</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.product_name %></td>
      <td><%= product.product_desc %></td>
      <td><%= product.product_price %></td>
      <td><%= product.quantity %></td>
      <td><%= product.local_delivery %></td>
      <td><%= link_to 'Details', product_path(product) %></td>
      <% if logged_in? %>
      <td><%= link_to 'Buy', product_path(product) %> </td>
      <% end %>
    </tr>
  <% end %>
</table>