<h1>Listing products</h1>


<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Local Delivery</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.product_name %></td>
      <td><%= product.product_desc %></td>
      <td><%= product.product_price %></td>
      <td><%= product.quantity %></td>
      <td><%= product.local_delivery %></td>
      <td><%= link_to 'Deets', product_path(product) %> | </td>
      <td><%= link_to 'Buy', product_path(product) %></td>
    </tr>
  <% end %>
</table>